body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 25px;
    background-color: greenyellow;
    border-radius: 50px;
}
button:hover{
    background-color: orangered;
}
